
<%= provide(:title, "Home") %>
<header>
<div class="header-content">
		<div class="header-content-inner">
			<h1>You are just one step away from responsibility</h1>
			<hr/>
			<p>Expense Analytics has all the powertools you require. Analyzing and tracking your expenses can be cumbersome unless you have 'EXPENSE ANALYTICS'. Get ready to roll out with!</p>
			<a href="#" class="btn btn-default btn-xl">FIND OUT MORE</a>
		</div>
	</div>
</header>

<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">We've got what you need!</h2>
				<hr class="light">
				<p class="text-faded">
					Expense Analytics has all the powertools you require. Analyzing and tracking your expenses can be cumbersome unless you have 'EXPENSE ANALYTICS'. Get ready to roll out with!
				</p>
				<a href="/signup" class="btn btn-default btn-xl">Get Started!</a>
			</div>
		</div>
	</div>
</section>

<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading"></h2>
				<hr class="primary">
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-usd wow bounceIn text-primary"></i>
					<h3>Incomes</h3> 
					<p class="text-muted">You earn it, you deserve to know where it goes.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-paper-plane-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
					<h3>Expenses</h3>
					<p class="text-muted">
						Wisely make your next decision on where to spend!
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
					<h3>Up to Date</h3>
					<p class="text-muted">
						Stay upto date with Expense Analytics.
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-4x fa-bar-chart-o wow bounceIn text-primary" data-wow-delay=".3s">
					</i>
					<h3>Analysis</h3>
					<p class="text-muted">
						Analyze where your next investment should be.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="no-padding" id="portfolio">
	<div class="container-fluid">
		<div class="row no-gutter">

			<div class="col-lg-4 col-sm-6">
				<a href="#" class="portfolio-box">
					<img src="/assets/portfolio/1.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<!-- <div class="project-category text-faded">
								Category
							</div> -->
							<div class="project-name">
								Record Incomes
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col-lg-4 col-sm-6">
				<a href="#" class="portfolio-box">
					<!-- <img src="/assets/portfolio/2.jpg" class="img-responsive" alt=""> -->
					<%= image_tag("portfolio/2.jpg", class: 'img-responsive') %>
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<!-- <div class="project-category text-faded">
								Category
							</div> -->
							<div class="project-name">
								Record Expenses
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col-lg-4 col-sm-6">
				<a href="#" class="portfolio-box">
					<img src="/assets/portfolio/3.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<!-- <div class="project-category text-faded">
								Category
							</div> -->
							<div class="project-name">
								Tags
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col-lg-4 col-sm-6">
				<a href="#" class="portfolio-box">
					<img src="/assets/portfolio/4.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<!-- <div class="project-category text-faded">
								Category
							</div> -->
							<div class="project-name">
								Budget
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col-lg-4 col-sm-6">
				<a href="#" class="portfolio-box">
					<img src="/assets/portfolio/5.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<!-- <div class="project-category text-faded">
								Category
							</div> -->
							<div class="project-name">
								Reminders
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col-lg-4 col-sm-6">
				<a href="#" class="portfolio-box">
					<img src="/assets/portfolio/6.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<!-- <div class="project-category text-faded">
								Category
							</div> -->
							<div class="project-name">
								Project Name
							</div>
						</div>
					</div>
				</a>
			</div>
			
		</div>
	</div>
</section>

<aside class="bg-dark">
	<div class="container text-center">
		<div class="call-to-action">
			<!-- <h2>Free Download at Apple Store & Google Store!</h2>
			<a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
		</div>
	</div>
</aside>

<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">Let's Get In Touch!</h2>
				<hr class="primary">
				<p>
					Have your own ideas on Expense Analytics? Let's share it together, to make an app for everyone!
				</p>
			</div>
			<div class="col-lg-4 col-lg-offset-2 text-center">
				<i class="fa fa-phone fa-3x wow bounceIn"></i>
				<p>01-6613372</p>
			</div>
			<div class="col-lg-4 text-center">
				<i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
				<p>
					<a href="mailto:your-email@your-domain.com">nb@expense-analytics.com</a>
				</p>
			</div>
		</div>
	</div>
</section>


