<li>
	<%= gravatar_for member, size: 50 %>
	<%= link_to member.member_name, member %>
	<% if current_member.admin? && !current_member?(member) %> | <%= link_to "delete", member, method: :delete,
																	data: { Confirm: "You Sure?" } %>
	<% end %>
</li>